<header class="bar bar-nav">
  <a href="#{{backToUrl}}" class="btn btn-link btn-nav pull-left">
    <span class="icon icon-left-nav"></span>
  </a>
  <h1 class="title">Change Password</h1>
</header>

<nav class="bar bar-tab">
  {{#if isAuthenticated}}
  <a class="tab-item" href="#photos">
    <span class="icon icon-home"></span>
    <span class="tab-label">Home</span>
  </a>
  <a class="tab-item active" href="#settings">
    <span class="icon icon-gear"></span>
    <span class="tab-label">Settings</span>
  </a>
  <a class="tab-item" href="#info">
    <span class="icon icon-info"></span>
    <span class="tab-label">Info</span>
  </a>
  {{else}}
  <a class="tab-item" href="#info">
    <span class="icon icon-info"></span>
    <span class="tab-label">Info</span>
  </a>
  {{/if}}
</nav>

<div class="content">
  <form id="changepassword-form" class="content-padded">
    <input id="password" name="password" type="password" maxlength="15" placeholder="Enter your new password" autocomplete="off">
    <input id="change" type="submit" value="Change" disabled class="btn btn-positive btn-block">
  </form>
</div>