<header class="bar bar-nav">
  <h1 class="title">SAFE</h1>
</header>

<nav class="bar bar-tab">
  <a class="tab-item" href="#info">
    <span class="icon icon-info"></span>
    <span class="tab-label">Info</span>
  </a>
</nav>

<div class="content">
  <p class="content-padded text-center">
    Keep your photos safe!
  </p>

  <form id="login-form" class="content-padded">
    <input id="password" name="password" type="password" maxlength="15" placeholder="Enter your password" autocomplete="off">
    <input id="login" type="submit" value="Login" disabled class="btn btn-positive btn-block">
    <a href="#forgotpassword" class="forgot-password text-right">forgot the password?</a>
  </form>
</div>