<header class="bar bar-nav">
  <h1 class="title">Settings</h1>
</header>

<nav class="bar bar-tab">
  <a class="tab-item" href="#photos">
    <span class="icon icon-home"></span>
    <span class="tab-label">Home</span>
  </a>
  <a class="tab-item active" href="#settings">
    <span class="icon icon-gear"></span>
    <span class="tab-label">Settings</span>
  </a>
  <a class="tab-item" href="#info">
    <span class="icon icon-info"></span>
    <span class="tab-label">Info</span>
  </a>
</nav>

<div class="content">
  <div class="content-padded">
    <a href="#changepassword" class="btn btn-block">Change Password</a>
    <a href="#changesecurityinfo" class="btn btn-block">Change Security Info</a>
  </div>
</div>