<header class="bar bar-nav">
  <a href="#login" class="btn btn-link btn-nav pull-left">
    <span class="icon icon-left-nav"></span>
  </a>
  <h1 class="title">Verify yourself</h1>
</header>

<div class="content">
  <form id="forgotpassword-form" class="content-padded">
    <label id="security-question" class="field-label">{{securityQuestion}}?</label>
    <input id="security-answer" name="security-answer" type="password" maxlength="15" placeholder="Enter your answer" autocomplete="off">
    <input id="verify" type="submit" value="Verify" disabled class="btn btn-positive btn-block">
  </form>
</div>

<nav class="bar bar-tab">
  <a class="tab-item" href="#info">
    <span class="icon icon-info"></span>
    <span class="tab-label">Info</span>
  </a>
</nav>