<header class="bar bar-nav">
  <a href="#photos" class="btn btn-link btn-nav pull-left">
    <span class="icon icon-left-nav"></span>
  </a>
  <a href="#edit/{{id}}" class="btn btn-link btn-nav pull-right">
    <span class="icon icon-edit"></span>
  </a>
  <h1 class="title">View Photo</h1>
</header>

<nav class="bar bar-tab">
  <a class="tab-item active" href="#photos">
    <span class="icon icon-home"></span>
    <span class="tab-label">Home</span>
  </a>
  <a class="tab-item" href="#settings">
    <span class="icon icon-gear"></span>
    <span class="tab-label">Settings</span>
  </a>
  <a class="tab-item" href="#info">
    <span class="icon icon-info"></span>
    <span class="tab-label">Info</span>
  </a>
</nav>

<div class="content">
  <div class="content-padded">
    <div class="description">{{description}}</div>
    <img id="photo" class="img-responsive" src="data:image/png;base64,{{thumbnail}}">
  </div>
</div>